#stage{
	position: absolute;	
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0px;
}
#scene{
	position: relative;
	width: 8000px;
	height: 430px;
	/*border: 1px solid black;*/
	/*background-color: gray;*/
	background-image: url('img/bg.png');
	background-position: bottom;
}

#FPS{
	position: absolute;
	z-index: 10;
	color: white;
	padding: 10px;
}

#wrapper{
	
}

.announce {
    z-index: 10;
    position: fixed;
    left: 50px;
    top: 100px;
    font-weight: bold;
    font-size: 79px;
    color: white;
}
html, body{
	margin: 0;
	padding: 0;
	font-family: arial, helvetica;
}

#player{
	position: absolute;
	width: 48px;
    background-position: center;
	height: 59px;
	background-image: url('img/mario.png');
	/*background-color: rgba(255, 255, 255, 0.1);*/
}

.turtle{
	position: absolute;
	width: 60px;
	height: 49px;
	background-image: url('img/turtle.png');
}
.bowser{
	position: absolute;
	width: 120px;
	height: 102px;
	background-image: url('img/bowser.png');
}

/*#block1{
	position: absolute;
	width: 200px;
	height: 10px;
	background-color: red;
	left: 200px;
	bottom: 100px; 
}
#block2{
	position: absolute;
	width: 200px;
	height: 10px;
	background-color: red;
	left: 300px;
	bottom: 200px; 
}

#block3{
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: lightgreen;
	left: 500px;
	bottom: 10px; 
}
*/
#floor{
	position: absolute;
	background-color: green;
	bottom: 0px;
	height: 10px;
	width: 100%;
}

.block{
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: brown;
}

.brick{
	position: absolute;
	background-image: url('img/brick.png');
	width: 60px;
	height: 60px;

}

.flipH{
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}