body, html{
	height: 100%;
	margin: 0;
	padding: 0;
}


#container{
	position: relative;
	background-color: grey;
	margin: 1px;
}
.bg {
	line-height: 0px;
}
.bg div{
	width: 32px;
	height: 32px;
	display: inline-block;

}
.bg .block{
	background-color: black;
}