body, html{
	height: 100%;
	margin: 0;
	padding: 0;
}

#left, #right, #ball{
	position: absolute;
	background-color: black;
}

#left, #right{
	width: 10px;
	height: 100px;
}
#left{
	left: 20px;
}
#right{
	right: 20px;
}
#ball{
	width: 10px;
	height: 10px;
	left: 100px;
}

#playerScore{
	position: absolute;
	left: 100px;
	font-size: 32px;
}
#enemyScore{
	position: absolute;
	right: 100px;
	font-size: 32px;
}