body, html{
	height: 100%;
	margin: 0;
	padding: 0;
}

#left, #right, #ball{
	position: absolute;
	background-color: black;
}

#left, #right{
	width: 10px;
	height: 100px;
}
#left{
	left: 10px;
}
#right{
	right: 10px;
}
#ball{
	width: 10px;
	height: 10px;
	left: 100px;
}