#stage{
	width: 600px;
	height: 400px;
	background-color: black;
	position: relative;
}
#player{
	width: 50px;
	height: 10px;
	position: absolute;
	bottom: 10px;
	left: 275px;
	background-color: white;
}

.ball{
	width: 10px;
	height: 10px;
	left: 200px;
	top: 100px;
	position: absolute;
	background-color: white;
}

.block{
	width: 40px;
	height: 20px;
	position: absolute;
	background-color: white;
}